.footer {
  width: 100%;
  min-height: 66px;
  max-height: auto;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #828282;
  font-size: 14px;
}

.footerUsername {
  font-weight: bold;
  text-decoration: underline;
}