/* CONVERSIÓN A GRID */
.container_main {
  width: 100%;
  min-height: 100%;
  max-height: auto;
  /* background-color: lightblue; */
}

.section_title {
  width: 100%;
  height: auto;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-between;
}

.titleStays {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  padding: 16px 16px 16px 25px;
  /* top right botton left */
}

.totalStays {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
  padding: 16px 25px 16px 16px;
}

.container_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 395px);
  gap: 32px;
  padding: 16px;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .container_grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}